*.so
**/*~
**/*#
**/*.out
**/*.html
*.cmake
*.png
*.jpg
*.bmp
*.t7
*.tar.gz
*.txt
*.a
*.ipynb
compile_commands.json
GPATH
GRTAGS
GTAGS
Makefile
TAGS
source/pyinpaint.c
cython_debug/
libcv_lib.a
image_files/*
__pycache__/*
CMakeCache.txt
CMakeFiles/
build/